/system/user/addons/login_alert/Tests/.phpunit.result.cache
/system/user/addons/login_alert/Tests/logs/junit.xml
/system/user/addons/login_alert/Tests/logs/logfile.txt
/system/user/addons/login_alert/Tests/logs/teamcity.txt
/system/user/addons/login_alert/Tests/logs/testdox.html
/system/user/addons/login_alert/Tests/logs/testdox.txt
/system/user/addons/login_alert/Tests/logs/testdox.xml
/system/user/addons/login_alert/Tests/logs/test-coverage-report