<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         stopOnError="true"
         stopOnSkipped="true"
         printerClass="PHPUnit\TextUI\DefaultResultPrinter">
    <testsuites>
        <testsuite name="Login Alert Test Suite">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">../</directory>
        </include>
        <exclude>
            <directory>../Tests</directory>
            <directory>../ControlPanel</directory>
            <directory>../Extensions</directory>
            <directory>../views</directory>
            <directory>../database</directory>
            <file>../upd.login_alert.php</file>
        </exclude>
        <report>
            <html outputDirectory="logs/test-coverage-report/" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="logs/junit.xml"/>
        <teamcity outputFile="logs/teamcity.txt"/>
        <testdoxHtml outputFile="logs/testdox.html"/>
        <testdoxText outputFile="logs/testdox.txt"/>
        <testdoxXml outputFile="logs/testdox.xml"/>
        <text outputFile="logs/logfile.txt"/>
    </logging>
</phpunit>